--
-- PostgreSQL database dump
--

\restrict B5Qh4tKsjhviLQ2Dcx6hKWmf7KnGgAozddYq24M5x3EyFY6GwEFM64tIyRBLDFf

-- Dumped from database version 15.18 (Debian 15.18-1.pgdg13+1)
-- Dumped by pg_dump version 15.18 (Debian 15.18-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: event_tasks; Type: TABLE; Schema: public; Owner: pti_user
--

CREATE TABLE public.event_tasks (
    id integer NOT NULL,
    event_id integer NOT NULL,
    name text NOT NULL,
    completed boolean DEFAULT false NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.event_tasks OWNER TO pti_user;

--
-- Name: event_tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: pti_user
--

CREATE SEQUENCE public.event_tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.event_tasks_id_seq OWNER TO pti_user;

--
-- Name: event_tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pti_user
--

ALTER SEQUENCE public.event_tasks_id_seq OWNED BY public.event_tasks.id;


--
-- Name: events; Type: TABLE; Schema: public; Owner: pti_user
--

CREATE TABLE public.events (
    id integer NOT NULL,
    game_id integer,
    user_id integer,
    name text NOT NULL,
    description text,
    start_time timestamp with time zone,
    end_time timestamp with time zone,
    category text,
    source text,
    source_url text,
    is_automatic boolean DEFAULT false,
    is_confirmed boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    requires_action boolean DEFAULT false NOT NULL,
    completed boolean DEFAULT false NOT NULL,
    CONSTRAINT events_category_check CHECK ((category = ANY (ARRAY['personal'::text, 'work'::text, 'games'::text])))
);


ALTER TABLE public.events OWNER TO pti_user;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: pti_user
--

CREATE SEQUENCE public.events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.events_id_seq OWNER TO pti_user;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pti_user
--

ALTER SEQUENCE public.events_id_seq OWNED BY public.events.id;


--
-- Name: games; Type: TABLE; Schema: public; Owner: pti_user
--

CREATE TABLE public.games (
    id integer NOT NULL,
    name text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.games OWNER TO pti_user;

--
-- Name: games_id_seq; Type: SEQUENCE; Schema: public; Owner: pti_user
--

CREATE SEQUENCE public.games_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.games_id_seq OWNER TO pti_user;

--
-- Name: games_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pti_user
--

ALTER SEQUENCE public.games_id_seq OWNED BY public.games.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: pti_user
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    reminder_id integer,
    event_id integer,
    user_id integer,
    type text DEFAULT 'reminder'::text,
    payload jsonb,
    sent boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.notifications OWNER TO pti_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: pti_user
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notifications_id_seq OWNER TO pti_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pti_user
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: recurring_events; Type: TABLE; Schema: public; Owner: pti_user
--

CREATE TABLE public.recurring_events (
    id integer NOT NULL,
    event_id integer,
    rrule text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.recurring_events OWNER TO pti_user;

--
-- Name: recurring_events_id_seq; Type: SEQUENCE; Schema: public; Owner: pti_user
--

CREATE SEQUENCE public.recurring_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.recurring_events_id_seq OWNER TO pti_user;

--
-- Name: recurring_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pti_user
--

ALTER SEQUENCE public.recurring_events_id_seq OWNED BY public.recurring_events.id;


--
-- Name: reminders; Type: TABLE; Schema: public; Owner: pti_user
--

CREATE TABLE public.reminders (
    id integer NOT NULL,
    event_id integer,
    remind_at timestamp with time zone NOT NULL,
    method text DEFAULT 'push'::text,
    created_at timestamp with time zone DEFAULT now(),
    completed boolean DEFAULT false,
    dispatched_at timestamp with time zone
);


ALTER TABLE public.reminders OWNER TO pti_user;

--
-- Name: reminders_id_seq; Type: SEQUENCE; Schema: public; Owner: pti_user
--

CREATE SEQUENCE public.reminders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.reminders_id_seq OWNER TO pti_user;

--
-- Name: reminders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pti_user
--

ALTER SEQUENCE public.reminders_id_seq OWNED BY public.reminders.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: pti_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    email text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO pti_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: pti_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO pti_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pti_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: event_tasks id; Type: DEFAULT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.event_tasks ALTER COLUMN id SET DEFAULT nextval('public.event_tasks_id_seq'::regclass);


--
-- Name: events id; Type: DEFAULT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);


--
-- Name: games id; Type: DEFAULT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.games ALTER COLUMN id SET DEFAULT nextval('public.games_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: recurring_events id; Type: DEFAULT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.recurring_events ALTER COLUMN id SET DEFAULT nextval('public.recurring_events_id_seq'::regclass);


--
-- Name: reminders id; Type: DEFAULT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.reminders ALTER COLUMN id SET DEFAULT nextval('public.reminders_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: event_tasks; Type: TABLE DATA; Schema: public; Owner: pti_user
--

COPY public.event_tasks (id, event_id, name, completed, sort_order, created_at, updated_at) FROM stdin;
1	1	Hi	f	0	2026-08-18 09:05:11.311971+00	2026-08-18 09:05:11.311971+00
2	1	What	f	1	2026-08-18 09:05:14.635708+00	2026-08-18 09:05:14.635708+00
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: pti_user
--

COPY public.events (id, game_id, user_id, name, description, start_time, end_time, category, source, source_url, is_automatic, is_confirmed, created_at, updated_at, requires_action, completed) FROM stdin;
1	\N	\N	Test	\N	2026-08-18 09:04:00+00	2026-08-19 09:04:00+00	personal	\N	\N	f	f	2026-08-18 09:05:03.449172+00	2026-08-18 09:05:14.646181+00	t	f
2	\N	\N	Test2	\N	2026-08-18 09:05:00+00	2026-08-19 09:05:00+00	\N	\N	\N	f	f	2026-08-18 09:05:54.699243+00	2026-08-18 09:05:54.699243+00	t	f
\.


--
-- Data for Name: games; Type: TABLE DATA; Schema: public; Owner: pti_user
--

COPY public.games (id, name, created_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: pti_user
--

COPY public.notifications (id, reminder_id, event_id, user_id, type, payload, sent, created_at) FROM stdin;
\.


--
-- Data for Name: recurring_events; Type: TABLE DATA; Schema: public; Owner: pti_user
--

COPY public.recurring_events (id, event_id, rrule, created_at) FROM stdin;
\.


--
-- Data for Name: reminders; Type: TABLE DATA; Schema: public; Owner: pti_user
--

COPY public.reminders (id, event_id, remind_at, method, created_at, completed, dispatched_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: pti_user
--

COPY public.users (id, username, email, created_at) FROM stdin;
\.


--
-- Name: event_tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pti_user
--

SELECT pg_catalog.setval('public.event_tasks_id_seq', 2, true);


--
-- Name: events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pti_user
--

SELECT pg_catalog.setval('public.events_id_seq', 2, true);


--
-- Name: games_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pti_user
--

SELECT pg_catalog.setval('public.games_id_seq', 1, false);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pti_user
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: recurring_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pti_user
--

SELECT pg_catalog.setval('public.recurring_events_id_seq', 1, false);


--
-- Name: reminders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pti_user
--

SELECT pg_catalog.setval('public.reminders_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pti_user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: event_tasks event_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.event_tasks
    ADD CONSTRAINT event_tasks_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: recurring_events recurring_events_pkey; Type: CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.recurring_events
    ADD CONSTRAINT recurring_events_pkey PRIMARY KEY (id);


--
-- Name: reminders reminders_pkey; Type: CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_event_tasks_event_id; Type: INDEX; Schema: public; Owner: pti_user
--

CREATE INDEX idx_event_tasks_event_id ON public.event_tasks USING btree (event_id);


--
-- Name: idx_events_actionable_incomplete; Type: INDEX; Schema: public; Owner: pti_user
--

CREATE INDEX idx_events_actionable_incomplete ON public.events USING btree (requires_action, completed, start_time, end_time);


--
-- Name: event_tasks event_tasks_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.event_tasks
    ADD CONSTRAINT event_tasks_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE CASCADE;


--
-- Name: events events_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id);


--
-- Name: events events_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE SET NULL;


--
-- Name: notifications notifications_reminder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_reminder_id_fkey FOREIGN KEY (reminder_id) REFERENCES public.reminders(id) ON DELETE SET NULL;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: recurring_events recurring_events_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.recurring_events
    ADD CONSTRAINT recurring_events_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE CASCADE;


--
-- Name: reminders reminders_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pti_user
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict B5Qh4tKsjhviLQ2Dcx6hKWmf7KnGgAozddYq24M5x3EyFY6GwEFM64tIyRBLDFf

